.grid {
    padding-top: 90px;
    padding-bottom: 137px;
}

.grid__list {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.grid__item-one {
    flex: 1;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}

.grid__item__text-one {
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    padding: 145px 0 0 112px;
    margin-bottom: 100px;
}

.grid__item__block-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.grid__item__wrapper-one {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.grid__item__text-time {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
}

.grid__item__text-time_size span {
    padding-left: 6px;
}

.grid__item__text-time span {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: var(--main-color);
}

.red-text {
    color: red !important;
}

@media all and (max-width:768px) {
    .grid__item__text-one {

        font-size: 45px;

    }

    .grid {

        padding-bottom: 80px;
    }
}