.grid__item__wrapper-two {
    background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url('../img/book.png');
    background-position: center;
    background-size: cover;
    grid-column: 1 / span 1;
    grid-row: 4;
    border-radius: 20px;
}

.grid__item__text-two {
    max-width: 190px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 130%;
    padding-left: 20px;

}

.grid__item__text-two span {
    color: var(--main-color);
    font-weight: 700px;
    font-size: 30px;
    line-height: 130%;
    padding: 0;
}


.grid__item__wrapper-three {
    background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url('../img/watch.png');
    background-position: center;
    background-size: cover;
    grid-column: 2 / span 1;
    grid-row: 4;
    border-radius: 20px;

}

.grid__item__text-three {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    padding-left: 10px;
}

.grid__item__wrapper-three svg {
    width: 48px;
}



.grid__item__wrapper-four {
    background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url('../img/cross.png');
    background-position: center;
    background-size: cover;
    grid-column: 1 / span 2;
    grid-row: 5;
    border-radius: 20px;
}

.grid__item__wrapper-five {
    background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url('../img/shoes.png');
    background-position: center;
    background-size: cover;
    grid-column: 3 / span 2;
    grid-row: 4/ span 2;
    border-radius: 20px;
}

.grid__item__text-five {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    background-color: #38C0EB;
    border-radius: 20px;
    
   
}

.grid__item__wrapper-six {
    background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url('../img/presents.png');
    background-position: center;
    background-size: cover;
    grid-column: 5 / span 2;
    grid-row: 4/ span 1;
    border-radius: 20px;
}

.grid__item__wrapper-seven {
    background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url('../img/laptop.png');
    background-position: center;
    background-size: cover;
    grid-column: 5 / span 2;
    grid-row: 5/ span 1;
    border-radius: 20px;
}